<ion-header class="header" [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="title">
      Pizzeria Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-header class="sub-header" collapse="condense">
    <ion-toolbar class="sub-toolbar">
      <ion-title class="sub-title" size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <h1 class="address">Welcome to the best pizzeria you've ever seen</h1>
  </div>

  <ion-button class="show-pizzas-button" expand="block" (click)="goToPizzaList()">Show Pizzas</ion-button>
</ion-content>

