<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-pizzeria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pizzas-list</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <p class="pizzas-list-header">Listado de pizzas</p>
    <ion-list>
      <ion-item *ngFor="let p of pizzas_a">
        <ion-label>
          <h1>name: {{p.name}}</h1>
          <p>address: {{p.address}}</p>
          <p>telephone: {{p.telephone}}</p>
        </ion-label>
        <!-- <ion-button (click)="goToDelete(s.id)">DELETE</ion-button> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>

