<ion-header class="header" [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="title">Update Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <form (ngSubmit)="updatePizza()" class="update-pizza-form">
    <ion-list class="pizza-list">
      <ion-item class="form-item">
        <ion-label>Name</ion-label>
        <ion-input labelPlacement="stacked" placeholder="Pizza Name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item class="type-item">
        <ion-label>Type</ion-label>
        <ion-radio-group formControlName="type">
          <ion-item *ngFor="let s of type">
            <ion-radio value="{{ s.id }}">{{ s.name }}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="full" class="update-button">Update</ion-button>
  </form>
</ion-content>
