.header {
    background-color: #f8f8f8; 
    ion-toolbar {
      --background: #3880ff; 
      --color: white; 
    }
  }
  
  .content {
    padding: 16px; 
  }
  
  .update-pizza-form {
    display: flex;
    flex-direction: column; 
  }
  
  .pizza-list {
    margin-bottom: 20px; 
  }
  
  .form-item {
    margin-bottom: 16px;
  }
  
  .type-item {
    margin-bottom: 16px;
  }
  
  .update-button {
    background-color: #4CAF50;
    color: white; 
    font-weight: bold; 
    &:hover {
      background-color: #45a049; 
    }
  }
  