<ion-header class="header" [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="title">Add Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <form class="pizza-form" [formGroup]="pizzaForm" (ngSubmit)="createPizza()">
    <ion-list class="form-list">
      
      <ion-item class="form-item">
        <ion-input class="input-field" formControlName="name" type="text" fill="solid" label="Name of the pizza"
          labelPlacement="floating"></ion-input>
      </ion-item>

      <!-- Mostrar mensaje de error si el campo es inválido -->
      <ion-item
        *ngIf="pizzaForm.get('name')?.invalid && (pizzaForm.get('name')?.touched || pizzaForm.get('name')?.dirty)"
        class="error-item">
        <p class="error-message">El nombre es obligatorio.</p>
      </ion-item>

      <ion-radio-group formControlName="type" class="radio-group">
        <ion-label class="radio-label">Type</ion-label>
        <ion-item *ngFor="let s of type" class="radio-item">
          <ion-radio value="{{ s.id }}">{{ s.name }}</ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item class="form-item">
        <ion-input class="input-field" formControlName="address" type="text" fill="solid" label="Address of the pizza"
          labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="pizzaForm.get('address')?.invalid && (pizzaForm.get('address')?.touched || pizzaForm.get('address')?.dirty)"
        class="error-item">
        <p class="error-message">La dirección es obligatoria.</p>
      </ion-item>

      <ion-item class="form-item">
        <ion-input class="input-field" formControlName="telephone" type="text" fill="solid" label="Telephone"
          labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item
        *ngIf="pizzaForm.get('telephone')?.invalid && (pizzaForm.get('telephone')?.touched || pizzaForm.get('telephone')?.dirty)"
        class="error-item">
        <p class="error-message">El teléfono es obligatorio.</p>
      </ion-item>

    </ion-list>
    <ion-button class="submit-button" type="submit" expand="full" [disabled]="pizzaForm.invalid">Create</ion-button>
  </form>
  <ion-button class="home-button" expand="block" (click)="goToHome()"> Go to Home </ion-button>
</ion-content>
